.menuBurger {
    width: 3vmax;
    height: 3.5vmax;
    position: fixed;
    top: 1vmax;
    left: 8vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1vmax;
    overflow: hidden;
    z-index: 1000;
} 